<section class="accessories">
    <h2 class="title accessories__title">Аксессуары</h2>

    <div class="cards">
        <div class="card accessories__card">
            <img src="./img/galaxy-s10_accessories_cases.png" alt="" class="card__img">
            <p class="card__description card__description_desktop">Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.</p>
            <p class="card__description card__description_tablet card__description_mobile">Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.
            </p>
        </div>
        <div class="card accessories__card">
            <img src="./img/galaxy-s10_accessories_power.png" alt="" class="card__img">
            <p class="card__description card__description_desktop">Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.
            </p>
            <p class="card__description card__description_tablet">Обширный ассортимент чехлов лля каждой модели. Цветовая гамма, отличное качество, премиальные материалы и дополнительные возможности призваны удовлетворить даже самый притязательный вкус.
            </p>
            <p class="card__description card__description_mobile">Беспроводная зарядная станция Duo Pad быстро заряжает одновременно два устройства, одно из которых охлаждается.
            </p>
        </div>
        <div class="card card_line accessories__card">
            <p class="card__description">Galaxy S10+ в режиме Dex поддерживает широкоформатные мониторы. Мощный смартфон превращается в мощный десктоп.</p>
        </div>
        <div class="card card_line accessories__card">
            <p class="card__description">Смартфон S10 сразу укомплектован защитной пленкой.</p>
        </div>
    </div>

    <div class="line accessories__line"></div>
</section>