<section class="apps">
    <h2 class="title apps__title">Приложения и сервисы Samsung</h2>

    <div class="apps-wrapper">
        <div class="app">
            <img src="./img/Smart_Switch.png" alt="" class="app__img">
            <p class="app__description">Благодаря приложению Smart Switch можно перенести информацию со старого смартфона на новый.</p>
        </div>
        <div class="app">
            <img src="./img/Samsung_Health.png" alt="" class="app__img">
            <p class="app__description">Приложение Samsung Health помогает контролировать физическую активность и вести дневник питания.</p>
        </div>
        <div class="app">
            <img src="./img/Bixby.png" alt="" class="app__img">
            <p class="app__description">Интеллектуальный помощник Bixby обеспечит быстрый доступ к переводчику, поиску в Интернете, покупкам и многому другому.</p>
        </div>
        <div class="app">
            <img src="./img/Samsung_pay.png" alt="" class="app__img">
            <p class="app__description">Приложение Samsung Pay дает возможность оплачивать свои покупки при помощи смартфона.</p>
        </div>
        <div class="app">
            <img src="./img/SmartThings.png" alt="" class="app__img">
            <p class="app__description">Благодаря приложению Smart Things можно управлять всеми<br> смарт-устройствами дома.</p>
        </div>
    </div>
</section>