<div class="container">
<header class="header">
    <span class="header__line"></span>
    <a href="/" class="logo-e header__logo-e" target="_blank" rel="nofollow noopener"><img src="./img/Logo_e.png" alt="Эльдорадо"></a>
    <a href="/" class="logo-m header__logo-m" target="_blank" rel="nofollow noopener"><img src="./img/Logo_m.png" alt="Мвидео"></a>
    <a href="/" class="course-name header__course-name">Название курса в одну строку</a>
    
    <button class="burger header__burger">
        <span class="burger__line"></span>
        <span class="burger__line"></span>
        <span class="burger__line"></span>
    </button>
</header>
<main>