<div class="wrapper">
<div class="main-screen">
    <span class="main-screen__name-mobile">Samsung Galaxy S10</span>
    <h1 class="main-title main-screen__main-title">Еще больше возможностей</h1>

    <section class="new-design">
        <div class="line new-design__line"></div>

        <h2 class="title new-design__title">Новый дизайн</h2>

        <div class="cards">
            <div class="card card_black new-design__card new-design__card_black">
                <img src="./img/buy-now_banner_galaxy-s10.png" alt="" class="card__img">
                <p class="card__description">Абсолютно новый Infinity-O экран — на передней стороне смартфона нет ничего, кроме огромного экрана и фронтальной камеры.</p>
            </div>
            <div class="card new-design__card">
                <img src="./img/phone.jpg" alt="" class="card__img">
                <p class="card__description">Для любителей роскоши, модель S10+ будет выпускаться в керамическом корпусе черного и белого цветов.</p>
            </div>
            <div class="card new-design__card">
                <img src="./img/colors.png" alt="" class="card__img">
                <p class="card__description">Смартфоны доступны в 4х стильных цветах: Перламутр, Аквамарин, Оникс и<br> Цитрус
                    (для S10e).</p>
            </div>
            <div class="card new-design__card">
                <img src="./img/gorilla_glass.png" alt="" class="card__img">
                <p class="card__description">В моделях S10 и S10+ установлены защитные стекла нового поколения – Gorilla Glass 6.</p>
            </div>
        </div>
    </section>
</div>