<section class="scanner">
    <div class="line scanner__line"></div>
    <h2 class="title scanner__title title_desktop">Сканер отпечатка в экране</h2>
    <h2 class="title scanner__title title_tablet">Съемка видео</h2>

    <div class="scanner__content">
    <img src="./img/phone-scanner.jpg" alt="" class="banner scanner__banner">

    <ul class="benefits scanner__benefits">
        <li class="benefits__item">
            <img src="./img/shooting-quality.png" alt="" class="benefits__img">
            <p class="benefits__description">Отличное качество съемки новых поколениесмартфонов Samsung позволит создать и смотреть праздники, семейные торжества и памятные моменты на огромном экране, с яркими, живыми цветами и прекрасной детализацией. </p>
        </li>
        <li class="benefits__item">
            <img src="./img/stabilization.png" alt="" class="benefits__img">
            <p class="benefits__description">Дополнительная система стабилизации сделает видеоролики плавными и красивыми.
            </p>
        </li>
        <li class="benefits__item">
            <img src="./img/slow-motion.png" alt="" class="benefits__img">
            <p class="benefits__description">Сверхзамедленная съемка (960 кадров в секунду) теперь в 2 раза дольше. Камера в S10 способна распознать  самое стремительное движение, такое как языки пламени, брызги воды, дым из под колес спорткара.</p>
        </li>
    </ul>
    </div>
</section>